# Ignore Terraform binaries in any folder
**/.terraform/*
**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ignore Java Build files
**/target/
*.jar
*.class

# Ignore Node/React junk
**/node_modules/
**/build/

# Ignore IDE settings
.vscode/
.idea/